.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    padding: 16px 130px;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo-title{
    font-size: 48px;
    font-family: var(--font-family-b);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-nav-link{
    text-decoration: none;
    color: var(--color-purple-dark);
    font-size: 18px;
    font-family: var(--font-family-r);
    transition: color var(--animation);
}

.header-nav-link:hover,
.header-nav-link:focus{
    color: var(--color-purple-light);
    outline: none;
}

.header-nav-link-active{
    font-size: 18px;
    color: var(--color-black);
    font-family: var(--font-family-b);
}

.header-nav-dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin: 0 16px;
    background: var(--color-yellow-dark);
}

.header-button{
    height: 48px;
    width: 138px;
}